<div>
  {{ ngModel }}
  <h2>{{ titulo }}</h2>

  <div class="item form-group" ng-class="{bad: ngModel.aquisicao_automatica_error}">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Aquisitar 
    </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <input type="checkbox" name="ngModel_aquisicao_automatica" ng-model="ngModel.aquisicao_automatica" checked>
    </div>
    <div class="alert">{{ ngModel.referencia_error }} </div>
  </div>

  <div class="item form-group" ng-class="{bad: ngModel.referencia_error}">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Referência
    </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <input id="name" class="form-control col-md-7 col-xs-12" name="ngModel_ref" placeholder="ID do ponto" type="text" ng-model="ngModel.referencia">
    </div>
    <div class="alert">{{ ngModel.referencia_error }} </div>
  </div>

  <div class="item form-group" ng-class="{bad: ngModel.inversao_error}">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Inversão 
    </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <input type="checkbox" name="ngModel_inversao" ng-model="estado.ngModel_inversao" checked>
    </div>
    <div class="alert">{{ ngModel.inversao_error }} </div>
  </div>

  <div class="item form-group" ng-class="{bad: ngModel.valor_manual_error}" id="valor_manual">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Valor manual
    </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <input id="valor_manual" class="form-control col-md-7 col-xs-12" name="name" placeholder="" type="text" value='0.0' ng-model="ngModel.valor_manual">
    </div>
    <div class="alert">"{{ ngModel.valor_manual_error }}" </div>
  </div>

</div>