<div class="page-title">
	<div class="title_left">
		<h3>
	    </h3>
	</div>

</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
    		<div class="x_title">
      			<h2>Equipamentos <small>Consulta</small></h2>
		    	
		    	<div class="clearfix"></div>

    		</div>
    			
			<div class="x_content">

  				<form class="form-horizontal form-label-left" novalidate>

			        <div class="item form-group">
				        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Busca
				        </label>
			        	<div class="col-md-6 col-sm-6 col-xs-12">
			            	<input id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Informe o nome ou a sigla da Unidade" required="required" type="text" ng-model="filtro" ng-change="carregarEquipamentosList(filtro);">
			        	</div>
			        </div>
			        
			    </form>

			    <h2>Lista de Equipamentos</h2>
			    <div class="clearfix"></div>

			    <table class="table">
			    	<thead>
			    		<th>Código Operacional</th>
              <th>Tipo</th>
			    		<th>
                <a href="#/equipamentos-detail/null/" class="btn btn-primary btn-xs">Novo</a>
                <a onclick="window.history.back();" class="btn btn-primary btn-xs">Voltar</a>
              </th>
			    	</thead>
			    	<tbody>
			    		<tr ng-repeat="equipamento in equipamentos">
                <td>{{ equipamento.codigo_operacional }}</td>
			    			<td>{{ equipamento.tipo_nome }}</td>
			    			<td><a class="btn btn-primary btn-xs" href="#/equipamentos-detail/{{ equipamento.id }}/">Detalhes </a></td>
			    		</tr>
			    	</tbody>
			    </table>
			</div>
		</div>
	</div>
</div>

<script>


</script>