<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
    		<div class="x_title">
      			<h2>Equipe <small>Cadastro</small></h2>
		    	
		    	<div class="clearfix"></div>

    		</div>
    			
			<div class="x_content">

  				<form class="form-horizontal form-label-left" >

              <div class="item form-group" ng-class="{bad: nome_error}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nome <span class="required">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Informe o nome da equipe" type="text" ng-model="equipe.nome">
                </div>
                <div class="alert">"{{ nome_error }}" </div>
              </div>

              <div class="item form-group" ng-class="{bad: sigla_error}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Sigla <span class="required">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Informe a sigla da equipe" type="text" ng-model="equipe.sigla">
                </div>
                <div class="alert">"{{ sigla_error }}" </div>
              </div>

              <div class="item form-group" ng-class="{bad: divisao_error}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Divisão
                </label>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <select id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Informe a divisão" type="text" ng-model="equipe.divisao">
                      <option ng-repeat="divisao in divisoes" value="{{ divisao.id }}">{{ divisao.sigla }} - {{ divisao.nome }}</option>
                    </select>
                </div>
                <div class="alert">"{{ divisao_error }}" </div>
              </div>

              <div class="item form-group" ng-class="{bad: descricao_error}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Descrição
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Informe uma descrição" type="text" ng-model="equipe.descricao">
                </div>
                <div class="alert">"{{ descricao_error }}" </div>
              </div>

              <div class="item form-group" ng-class="{bad: observacao_error}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Observação
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Informe alguma observação" type="text" ng-model="equipe.observacao">
                </div>
                <div class="alert">"{{ observacao_error }}" </div>
              </div>

              <div class="item form-group" ng-class="{bad: membros_error}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"><a href="#/colaboradores-list">Membros </a>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input id="membros" class="form-control col-md-7 col-xs-12" name="name" placeholder="" type="text" >
                </div>
                <div class="alert">"{{ membros_error }}" </div>
              </div>

              <div class="ln_solid"></div>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <a onclick="window.history.back();" class="btn btn-primary">Voltar</a>
                  <a ng-click="excluirEquipesDetail(equipe);" class="btn btn-warning" ng-if="equipe && equipe.id">Excluir</a>
                  <a id="send" ng-click="salvarEquipesDetail(equipe);" class="btn btn-success">Salvar</a>
                </div>
              </div>

			    </form>

			</div>
		</div>
	</div>

</div>

<script>
    $("#membros").autocomplete();
</script>